@import './variable.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

*, li, a, ul {
    list-style: none;
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: $font-family;
}