@import './reset.scss';
@import './media.scss';

body {
    background-color: $very-dark-blue;

    header {
        width: 87vw;
        height: 203px;
        margin: 80px auto 25px;

        background-color: $dark-blue;
        border-radius: 1rem;

        .container_user {
            width: 100%;
            height: 133px;

            background-color: $blue;
            border-radius: 1rem;

            display: flex;
            align-items: center;

            img {
                width: 70px;
                margin-left: 30px;
                border: solid $white;
                border-radius: 50%;
            }

            .info_user {
                margin-left: 15px;
                
                p {
                    margin-top: 5px;
                    font-size: $font-user;
                }
            }
        }

        .nav {
            height: 70px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .active {
                color: $white;
            }
        }

    }

    main {
        margin-bottom: 50px;
        .container {
            width: 87vw;
            height: 160px;
            margin: 20px auto;

            display: flex;
            align-items: self-end;

            border-radius: 1rem;
            
            .container_data {
                width: 100%;
                height: 120px;

                background-color: $dark-blue;
                border-radius: 0.9rem;
                padding: 28px 23px;

                .block {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    :first-child {
                        margin-bottom: 10px;
                    }
                }

                

            }
        }

        .work {
            background-color: $light-red-work;
            background-image: url('../projeto/images/icon-work.svg');
            background-repeat: no-repeat;
            background-position: 90% -15%;
        }

        .play {
            background-color: $soft-blue-play;
            background-image: url('../projeto/images/icon-play.svg');
            background-repeat: no-repeat;
            background-position: 90% -5%;
        }
        
        .study {
            background-color: $light-red-study;
            background-image: url('../projeto/images/icon-study.svg');
            background-repeat: no-repeat;
            background-position: 90% -10%;
        }

        .exercise {
            background-color: $lime-green-exercise;
            background-image: url('../projeto/images/icon-exercise.svg');
            background-repeat: no-repeat;
            background-position: 90% 0%;
        }

        .social {
            background-color: $violet-social;
            background-image: url('../projeto/images/icon-social.svg');
            background-repeat: no-repeat;
            background-position: 90% -23%;
        }

        .self_care {
            background-color: $soft-orange-self-care;
            background-image: url('../projeto/images/icon-self-care.svg');
            background-repeat: no-repeat;
            background-position: 90% -10%;
        }
        
    }
    
    footer {
        margin: 10px auto 30px;
        font-size: 11px;
        text-align: center;

        a { color: hsl(228, 45%, 44%) }
    }
}

@media (min-width: 1024px){
    body {
        display: grid;
        grid-template-columns: 185px 3fr;
        justify-content: center;
        column-gap: 20px;

        max-width: 75vw;
        margin: 18% auto;

        span {
            font-size: 12px;
        }

        header {
            width: 185px;
            height: auto;
            margin: 0px;

            .container_user {
                height: 265px;
                display: block;
                padding: 24px 20px;

                img {
                    width: 65px;
                    margin: 0px;
                }

                .info_user {
                    margin: 30px 0px;

                    
                    
                    p {
                        margin-top: 0px;
                        font-size: 28px;
                    }
                }
            }

            .nav {
                height: 95px;
                margin: 10px auto;
                padding: 0px 20px;
                flex-direction: column;
                align-items: flex-start;

                button {
                    font-size: 14px;
                }
            }
        }

        main {
            margin-bottom: 0px;
            display: grid;
            grid-template-columns: repeat(3, 185px);
            gap: 20px;

            .container {
                width: 185px;
                height: 180px;
                margin: 0px auto;

                .container_data {
                    width: 185px;
                    height: 150px;
                    padding: 23px;

                    .block {
                        margin-bottom: 15px;

                        h1 {
                            font-size: 14px;
                        }
                    }

                    .info {
                        display: block;
                    }
                }
            }
        }

        footer {
            display: none;
        }
    }
}